In [1]:
import pandas as pd
import ast
import csv

In [66]:
kampus = pd.read_excel('uin-dan-iain.xlsx')

In [69]:
kampus.drop_duplicates(subset=['University', 'Program', 'Degree'], keep='first', inplace=True)

# Reset the index if needed
kampus.reset_index(drop=True, inplace=True)
kampus.head()

,University,Program,Degree,Type,Accreditation,Year,Grade,Expiration Date,Status,norm_grade
0,IAIN Ambon,Hukum Ekonomi Syari`ah (Mu`amalah),S1,PTAN,1735/SK/BAN-PT/Ak-PPJ/S/III/2020,2020,B,2025-03-18,Masih berlaku,3
1,IAIN Ambon,Hukum Keluarga Islam,S1,PTAN,2164/SK/BAN-PT/Ak-PPJ/S/IV/2020,2020,B,2025-03-29,Masih berlaku,3
2,IAIN Ambon,Pendidikan Biologi,S1,PTAN,1733/SK/BAN-PT/Ak-PPJ/S/III/2020,2020,B,2025-03-18,Masih berlaku,3
3,IAIN Ambon,Pendidikan Matematika,S1,PTAN,6943/SK/BAN-PT/Akred/S/XI/2020,2020,B,2025-11-03,Masih berlaku,3
4,IAIN Ambon,Pengembangan Masyarakat Islam,S1,PTAN,7916/SK/BAN-PT/Akred/S/XII/2020,2020,B,2025-12-01,Masih berlaku,3

In [70]:
pd.set_option('display.max_rows', None)

value_counts_series = kampus['University'].value_counts()

# Convert the Series to a DataFrame
value_counts_df = pd.DataFrame(value_counts_series)

# Rename the columns for clarity if needed
value_counts_df.columns = ['Jumlah Prodi']
value_counts_df

                                                   Jumlah Prodi
University
UIN Syarif Hidayatullah Jakarta                              82
UIN Sunan Kalijaga Yogyakarta                                67
UIN Sunan Gunung Djati Bandung                               66
UIN Alauddin Makassar                                        64
UIN Sumatera Utara Medan                                     62
UIN Sunan Ampel Surabaya                                     61
UIN Sultan Syarif Kasim Riau                                 56
UIN Ar-Raniry Banda Aceh                                     54
UIN Walisongo Semarang                                       50
UIN Sayyid Ali Rahmatullah Tulungagung                       49
UIN Maulana Malik Ibrahim Malang                             48
UIN Raden Fatah Palembang                                    46
UIN Imam Bonjol Padang                                       42
UIN Sultan Thaha Saifuddin Jambi                             42
UIN Raden Intan Lampung                                      42
UIN Kiai Haji Achmad Siddiq Jember                           38
UIN Raden Mas Said Surakarta                                 37
IAIN Syekh Nurjati Cirebon                                   37
UIN Antasari Banjarmasin                                     37
UIN Mahmud Yunus Batusangkar                                 36
UIN Fatmawati Sukarno Bengkulu                               36
UIN Salatiga                                                 35
UIN Sultan Maulana Hasanuddin Banten                         35
UIN Sjech M. Djamil Djambek Bukittinggi                      34
UIN Profesor Kiai Haji Saifuddin Zuhri Purwokerto            34
UIN Mataram                                                  34
IAIN Kediri                                                  34
UIN Datokarama Palu                                          33
IAIN Pare-Pare                                               33
IAIN Kudus                                                   32
UIN Syekh Ali Hasan Ahmad Addary Padangsidimpuan             31
IAIN Ambon                                                   29
UIN Sultan Aji Muhammad Idris Samarinda                      28
IAIN Sultan Amai Gorontalo                                   26
IAIN Ponorogo                                                26
IAIN Curup                                                   25
UIN K.H. Abdurrahman Wahid Pekalongan                        25
IAIN Kerinci                                                 25
IAIN Langsa                                                  24
IAIN Metro                                                   24
IAIN Palangkaraya                                            24
IAIN Kendari                                                 23
IAIN Palopo                                                  23
IAIN Madura                                                  23
IAIN Lhokseumawe                                             22
IAIN Ternate                                                 22
IAIN Pontianak                                               20
IAIN Manado                                                  19
IAIN Takengon                                                18
IAIN Bone                                                    17
IAIN Syaikh Abdurrahman Siddik Bangka Belitung               16
STAIN Mandailing Natal                                       16
STAIN Bengkalis                                              14
IAIN Fattahul Muluk Papua                                    13
STAIN Tengku Dirundeng Meulaboh                              12
STAIN Majene                                                 11
STAIN Sultan Abdurrahman Kepulauan Riau                      11
IAIN Sorong                                                  10

In [71]:
value_counts_df.describe()

       Jumlah Prodi
count     58.000000
mean      33.327586
std       16.072629
min       10.000000
25%       23.000000
50%       32.500000
75%       41.000000
max       82.000000

In [72]:
kampus['norm_grade'] = kampus['norm_grade'].astype(int)
print(kampus.dtypes)

University         object
Program            object
Degree             object
Type               object
Accreditation      object
Year                int64
Grade              object
Expiration Date    object
Status             object
norm_grade          int32
dtype: object

In [73]:
grade_a_programs = kampus[kampus['Grade'] == 'A']

# Count the number of Grade A programs for each university
grade_a_programs_count_per_university = grade_a_programs.groupby('University').size()

value_counts_df = pd.merge(value_counts_df, grade_a_programs_count_per_university.rename('Jumlah A'), left_index=True, right_index=True, how='left')

value_counts_df['Jumlah A'].fillna(0, inplace=True)
value_counts_df['Jumlah A'] = value_counts_df['Jumlah A'].astype(int)

value_counts_df

                                                   Jumlah Prodi  Jumlah A
University
UIN Syarif Hidayatullah Jakarta                              82        51
UIN Sunan Kalijaga Yogyakarta                                67        48
UIN Sunan Gunung Djati Bandung                               66        31
UIN Alauddin Makassar                                        64        21
UIN Sumatera Utara Medan                                     62         9
UIN Sunan Ampel Surabaya                                     61        24
UIN Sultan Syarif Kasim Riau                                 56        21
UIN Ar-Raniry Banda Aceh                                     54        20
UIN Walisongo Semarang                                       50        29
UIN Sayyid Ali Rahmatullah Tulungagung                       49         9
UIN Maulana Malik Ibrahim Malang                             48        18
UIN Raden Fatah Palembang                                    46        27
UIN Imam Bonjol Padang                                       42         6
UIN Sultan Thaha Saifuddin Jambi                             42         6
UIN Raden Intan Lampung                                      42        14
UIN Kiai Haji Achmad Siddiq Jember                           38        10
UIN Raden Mas Said Surakarta                                 37        16
IAIN Syekh Nurjati Cirebon                                   37         7
UIN Antasari Banjarmasin                                     37         3
UIN Mahmud Yunus Batusangkar                                 36         9
UIN Fatmawati Sukarno Bengkulu                               36         5
UIN Salatiga                                                 35        10
UIN Sultan Maulana Hasanuddin Banten                         35         5
UIN Sjech M. Djamil Djambek Bukittinggi                      34         4
UIN Profesor Kiai Haji Saifuddin Zuhri Purwokerto            34        16
UIN Mataram                                                  34         7
IAIN Kediri                                                  34         2
UIN Datokarama Palu                                          33         2
IAIN Pare-Pare                                               33         2
IAIN Kudus                                                   32         5
UIN Syekh Ali Hasan Ahmad Addary Padangsidimpuan             31         2
IAIN Ambon                                                   29         3
UIN Sultan Aji Muhammad Idris Samarinda                      28         4
IAIN Sultan Amai Gorontalo                                   26         1
IAIN Ponorogo                                                26         6
IAIN Curup                                                   25         3
UIN K.H. Abdurrahman Wahid Pekalongan                        25         8
IAIN Kerinci                                                 25         0
IAIN Langsa                                                  24         0
IAIN Metro                                                   24         2
IAIN Palangkaraya                                            24         3
IAIN Kendari                                                 23         1
IAIN Palopo                                                  23         3
IAIN Madura                                                  23         3
IAIN Lhokseumawe                                             22         3
IAIN Ternate                                                 22         1
IAIN Pontianak                                               20         2
IAIN Manado                                                  19         5
IAIN Takengon                                                18         0
IAIN Bone                                                    17         1
IAIN Syaikh Abdurrahman Siddik Bangka Belitung               16         0
STAIN Mandailing Natal                                       16         0
STAIN Bengkalis                                              14         0
IAIN Fattahul Muluk Papua                                    13         0
STAIN Tengku Dirundeng Meulaboh                              12         0
STAIN Majene                                                 11         0
STAIN Sultan Abdurrahman Kepulauan Riau                      11         0
IAIN Sorong                                                  10         0

In [74]:
grade_b_programs = kampus[kampus['Grade'] == 'B']

# Count the number of Grade A programs for each university
grade_b_programs_count_per_university = grade_b_programs.groupby('University').size()

value_counts_df = pd.merge(value_counts_df, grade_b_programs_count_per_university.rename('Jumlah B'), left_index=True, right_index=True, how='left')

value_counts_df['Jumlah B'].fillna(0, inplace=True)
value_counts_df['Jumlah B'] = value_counts_df['Jumlah B'].astype(int)

value_counts_df

,Jumlah Prodi,Jumlah A,Jumlah B
University,,,
UIN Syarif Hidayatullah Jakarta,82,51,26
UIN Sunan Kalijaga Yogyakarta,67,48,11
UIN Sunan Gunung Djati Bandung,66,31,27
UIN Alauddin Makassar,64,21,36
UIN Sumatera Utara Medan,62,9,44
UIN Sunan Ampel Surabaya,61,24,31
UIN Sultan Syarif Kasim Riau,56,21,24
UIN Ar-Raniry Banda Aceh,54,20,29
UIN Walisongo Semarang,50,29,15
UIN Sayyid Ali Rahmatullah Tulungagung,49,9,22
UIN Maulana Malik Ibrahim Malang,48,18,21
UIN Raden Fatah Palembang,46,27,17
UIN Imam Bonjol Padang,42,6,27
UIN Sultan Thaha Saifuddin Jambi,42,6,18
UIN Raden Intan Lampung,42,14,22
UIN Kiai Haji Achmad Siddiq Jember,38,10,21
UIN Raden Mas Said Surakarta,37,16,11
IAIN Syekh Nurjati Cirebon,37,7,17
UIN Antasari Banjarmasin,37,3,27
UIN Mahmud Yunus Batusangkar,36,9,17
UIN Fatmawati Sukarno Bengkulu,36,5,25
UIN Salatiga,35,10,17
UIN Sultan Maulana Hasanuddin Banten,35,5,21
UIN Sjech M. Djamil Djambek Bukittinggi,34,4,21
UIN Profesor Kiai Haji Saifuddin Zuhri Purwokerto,34,16,13
UIN Mataram,34,7,19
IAIN Kediri,34,2,17
UIN Datokarama Palu,33,2,12
IAIN Pare-Pare,33,2,8
IAIN Kudus,32,5,12
UIN Syekh Ali Hasan Ahmad Addary Padangsidimpuan,31,2,15
IAIN Ambon,29,3,10
UIN Sultan Aji Muhammad Idris Samarinda,28,4,17
IAIN Sultan Amai Gorontalo,26,1,15
IAIN Ponorogo,26,6,14
IAIN Curup,25,3,9
UIN K.H. Abdurrahman Wahid Pekalongan,25,8,12
IAIN Kerinci,25,0,11
IAIN Langsa,24,0,19
IAIN Metro,24,2,10
IAIN Palangkaraya,24,3,17
IAIN Kendari,23,1,17
IAIN Palopo,23,3,13
IAIN Madura,23,3,15
IAIN Lhokseumawe,22,3,12
IAIN Ternate,22,1,4
IAIN Pontianak,20,2,12
IAIN Manado,19,5,13
IAIN Takengon,18,0,9
IAIN Bone,17,1,8
IAIN Syaikh Abdurrahman Siddik Bangka Belitung,16,0,6
STAIN Mandailing Natal,16,0,1
STAIN Bengkalis,14,0,4
IAIN Fattahul Muluk Papua,13,0,9
STAIN Tengku Dirundeng Meulaboh,12,0,8
STAIN Majene,11,0,1
STAIN Sultan Abdurrahman Kepulauan Riau,11,0,2
IAIN Sorong,10,0,5

In [75]:
grade_c_programs = kampus[kampus['Grade'] == 'C']

# Count the number of Grade A programs for each university
grade_c_programs_count_per_university = grade_c_programs.groupby('University').size()

value_counts_df = pd.merge(value_counts_df, grade_c_programs_count_per_university.rename('Jumlah C'), left_index=True, right_index=True, how='left')

value_counts_df['Jumlah C'].fillna(0, inplace=True)
value_counts_df['Jumlah C'] = value_counts_df['Jumlah C'].astype(int)

value_counts_df

,Jumlah Prodi,Jumlah A,Jumlah B,Jumlah C
University,,,,
UIN Syarif Hidayatullah Jakarta,82,51,26,5
UIN Sunan Kalijaga Yogyakarta,67,48,11,8
UIN Sunan Gunung Djati Bandung,66,31,27,8
UIN Alauddin Makassar,64,21,36,7
UIN Sumatera Utara Medan,62,9,44,8
UIN Sunan Ampel Surabaya,61,24,31,6
UIN Sultan Syarif Kasim Riau,56,21,24,11
UIN Ar-Raniry Banda Aceh,54,20,29,5
UIN Walisongo Semarang,50,29,15,6
UIN Sayyid Ali Rahmatullah Tulungagung,49,9,22,18
UIN Maulana Malik Ibrahim Malang,48,18,21,9
UIN Raden Fatah Palembang,46,27,17,2
UIN Imam Bonjol Padang,42,6,27,9
UIN Sultan Thaha Saifuddin Jambi,42,6,18,18
UIN Raden Intan Lampung,42,14,22,6
UIN Kiai Haji Achmad Siddiq Jember,38,10,21,7
UIN Raden Mas Said Surakarta,37,16,11,10
IAIN Syekh Nurjati Cirebon,37,7,17,13
UIN Antasari Banjarmasin,37,3,27,7
UIN Mahmud Yunus Batusangkar,36,9,17,10
UIN Fatmawati Sukarno Bengkulu,36,5,25,6
UIN Salatiga,35,10,17,8
UIN Sultan Maulana Hasanuddin Banten,35,5,21,9
UIN Sjech M. Djamil Djambek Bukittinggi,34,4,21,9
UIN Profesor Kiai Haji Saifuddin Zuhri Purwokerto,34,16,13,5
UIN Mataram,34,7,19,8
IAIN Kediri,34,2,17,15
UIN Datokarama Palu,33,2,12,19
IAIN Pare-Pare,33,2,8,23
IAIN Kudus,32,5,12,15
UIN Syekh Ali Hasan Ahmad Addary Padangsidimpuan,31,2,15,13
IAIN Ambon,29,3,10,16
UIN Sultan Aji Muhammad Idris Samarinda,28,4,17,7
IAIN Sultan Amai Gorontalo,26,1,15,10
IAIN Ponorogo,26,6,14,6
IAIN Curup,25,3,9,13
UIN K.H. Abdurrahman Wahid Pekalongan,25,8,12,5
IAIN Kerinci,25,0,11,14
IAIN Langsa,24,0,19,5
IAIN Metro,24,2,10,12
IAIN Palangkaraya,24,3,17,4
IAIN Kendari,23,1,17,5
IAIN Palopo,23,3,13,7
IAIN Madura,23,3,15,5
IAIN Lhokseumawe,22,3,12,7
IAIN Ternate,22,1,4,17
IAIN Pontianak,20,2,12,6
IAIN Manado,19,5,13,1
IAIN Takengon,18,0,9,9
IAIN Bone,17,1,8,8
IAIN Syaikh Abdurrahman Siddik Bangka Belitung,16,0,6,10
STAIN Mandailing Natal,16,0,1,15
STAIN Bengkalis,14,0,4,10
IAIN Fattahul Muluk Papua,13,0,9,4
STAIN Tengku Dirundeng Meulaboh,12,0,8,4
STAIN Majene,11,0,1,10
STAIN Sultan Abdurrahman Kepulauan Riau,11,0,2,9
IAIN Sorong,10,0,5,5

In [76]:
grade_D_programs = kampus[kampus['Grade'] == 'Tidak Terakreditasi']

# Count the number of Grade A programs for each university
grade_D_programs_count_per_university = grade_D_programs.groupby('University').size()

value_counts_df = pd.merge(value_counts_df, grade_D_programs_count_per_university.rename('Tidak Terakreditasi'), left_index=True, right_index=True, how='left')

value_counts_df['Tidak Terakreditasi'].fillna(0, inplace=True)
value_counts_df['Tidak Terakreditasi'] = value_counts_df['Tidak Terakreditasi'].astype(int)

value_counts_df

,Jumlah Prodi,Jumlah A,Jumlah B,Jumlah C,Tidak Terakreditasi
University,,,,,
UIN Syarif Hidayatullah Jakarta,82,51,26,5,0
UIN Sunan Kalijaga Yogyakarta,67,48,11,8,0
UIN Sunan Gunung Djati Bandung,66,31,27,8,0
UIN Alauddin Makassar,64,21,36,7,0
UIN Sumatera Utara Medan,62,9,44,8,1
UIN Sunan Ampel Surabaya,61,24,31,6,0
UIN Sultan Syarif Kasim Riau,56,21,24,11,0
UIN Ar-Raniry Banda Aceh,54,20,29,5,0
UIN Walisongo Semarang,50,29,15,6,0
UIN Sayyid Ali Rahmatullah Tulungagung,49,9,22,18,0
UIN Maulana Malik Ibrahim Malang,48,18,21,9,0
UIN Raden Fatah Palembang,46,27,17,2,0
UIN Imam Bonjol Padang,42,6,27,9,0
UIN Sultan Thaha Saifuddin Jambi,42,6,18,18,0
UIN Raden Intan Lampung,42,14,22,6,0
UIN Kiai Haji Achmad Siddiq Jember,38,10,21,7,0
UIN Raden Mas Said Surakarta,37,16,11,10,0
IAIN Syekh Nurjati Cirebon,37,7,17,13,0
UIN Antasari Banjarmasin,37,3,27,7,0
UIN Mahmud Yunus Batusangkar,36,9,17,10,0
UIN Fatmawati Sukarno Bengkulu,36,5,25,6,0
UIN Salatiga,35,10,17,8,0
UIN Sultan Maulana Hasanuddin Banten,35,5,21,9,0
UIN Sjech M. Djamil Djambek Bukittinggi,34,4,21,9,0
UIN Profesor Kiai Haji Saifuddin Zuhri Purwokerto,34,16,13,5,0
UIN Mataram,34,7,19,8,0
IAIN Kediri,34,2,17,15,0
UIN Datokarama Palu,33,2,12,19,0
IAIN Pare-Pare,33,2,8,23,0
IAIN Kudus,32,5,12,15,0
UIN Syekh Ali Hasan Ahmad Addary Padangsidimpuan,31,2,15,13,1
IAIN Ambon,29,3,10,16,0
UIN Sultan Aji Muhammad Idris Samarinda,28,4,17,7,0
IAIN Sultan Amai Gorontalo,26,1,15,10,0
IAIN Ponorogo,26,6,14,6,0
IAIN Curup,25,3,9,13,0
UIN K.H. Abdurrahman Wahid Pekalongan,25,8,12,5,0
IAIN Kerinci,25,0,11,14,0
IAIN Langsa,24,0,19,5,0
IAIN Metro,24,2,10,12,0
IAIN Palangkaraya,24,3,17,4,0
IAIN Kendari,23,1,17,5,0
IAIN Palopo,23,3,13,7,0
IAIN Madura,23,3,15,5,0
IAIN Lhokseumawe,22,3,12,7,0
IAIN Ternate,22,1,4,17,0
IAIN Pontianak,20,2,12,6,0
IAIN Manado,19,5,13,1,0
IAIN Takengon,18,0,9,9,0
IAIN Bone,17,1,8,8,0
IAIN Syaikh Abdurrahman Siddik Bangka Belitung,16,0,6,10,0
STAIN Mandailing Natal,16,0,1,15,0
STAIN Bengkalis,14,0,4,10,0
IAIN Fattahul Muluk Papua,13,0,9,4,0
STAIN Tengku Dirundeng Meulaboh,12,0,8,4,0
STAIN Majene,11,0,1,10,0
STAIN Sultan Abdurrahman Kepulauan Riau,11,0,2,9,0
IAIN Sorong,10,0,5,5,0

In [77]:
value_counts_df['Poin'] = (value_counts_df['Jumlah A'] * 4) + (value_counts_df['Jumlah B'] * 3) + (value_counts_df['Jumlah C'] * 2) + value_counts_df['Tidak Terakreditasi']
value_counts_df

,Jumlah Prodi,Jumlah A,Jumlah B,Jumlah C,Tidak Terakreditasi,Poin
University,,,,,,
UIN Syarif Hidayatullah Jakarta,82,51,26,5,0,292
UIN Sunan Kalijaga Yogyakarta,67,48,11,8,0,241
UIN Sunan Gunung Djati Bandung,66,31,27,8,0,221
UIN Alauddin Makassar,64,21,36,7,0,206
UIN Sumatera Utara Medan,62,9,44,8,1,185
UIN Sunan Ampel Surabaya,61,24,31,6,0,201
UIN Sultan Syarif Kasim Riau,56,21,24,11,0,178
UIN Ar-Raniry Banda Aceh,54,20,29,5,0,177
UIN Walisongo Semarang,50,29,15,6,0,173
UIN Sayyid Ali Rahmatullah Tulungagung,49,9,22,18,0,138
UIN Maulana Malik Ibrahim Malang,48,18,21,9,0,153
UIN Raden Fatah Palembang,46,27,17,2,0,163
UIN Imam Bonjol Padang,42,6,27,9,0,123
UIN Sultan Thaha Saifuddin Jambi,42,6,18,18,0,114
UIN Raden Intan Lampung,42,14,22,6,0,134
UIN Kiai Haji Achmad Siddiq Jember,38,10,21,7,0,117
UIN Raden Mas Said Surakarta,37,16,11,10,0,117
IAIN Syekh Nurjati Cirebon,37,7,17,13,0,105
UIN Antasari Banjarmasin,37,3,27,7,0,107
UIN Mahmud Yunus Batusangkar,36,9,17,10,0,107
UIN Fatmawati Sukarno Bengkulu,36,5,25,6,0,107
UIN Salatiga,35,10,17,8,0,107
UIN Sultan Maulana Hasanuddin Banten,35,5,21,9,0,101
UIN Sjech M. Djamil Djambek Bukittinggi,34,4,21,9,0,97
UIN Profesor Kiai Haji Saifuddin Zuhri Purwokerto,34,16,13,5,0,113
UIN Mataram,34,7,19,8,0,101
IAIN Kediri,34,2,17,15,0,89
UIN Datokarama Palu,33,2,12,19,0,82
IAIN Pare-Pare,33,2,8,23,0,78
IAIN Kudus,32,5,12,15,0,86
UIN Syekh Ali Hasan Ahmad Addary Padangsidimpuan,31,2,15,13,1,80
IAIN Ambon,29,3,10,16,0,74
UIN Sultan Aji Muhammad Idris Samarinda,28,4,17,7,0,81
IAIN Sultan Amai Gorontalo,26,1,15,10,0,69
IAIN Ponorogo,26,6,14,6,0,78
IAIN Curup,25,3,9,13,0,65
UIN K.H. Abdurrahman Wahid Pekalongan,25,8,12,5,0,78
IAIN Kerinci,25,0,11,14,0,61
IAIN Langsa,24,0,19,5,0,67
IAIN Metro,24,2,10,12,0,62
IAIN Palangkaraya,24,3,17,4,0,71
IAIN Kendari,23,1,17,5,0,65
IAIN Palopo,23,3,13,7,0,65
IAIN Madura,23,3,15,5,0,67
IAIN Lhokseumawe,22,3,12,7,0,62
IAIN Ternate,22,1,4,17,0,50
IAIN Pontianak,20,2,12,6,0,56
IAIN Manado,19,5,13,1,0,61
IAIN Takengon,18,0,9,9,0,45
IAIN Bone,17,1,8,8,0,44
IAIN Syaikh Abdurrahman Siddik Bangka Belitung,16,0,6,10,0,38
STAIN Mandailing Natal,16,0,1,15,0,33
STAIN Bengkalis,14,0,4,10,0,32
IAIN Fattahul Muluk Papua,13,0,9,4,0,35
STAIN Tengku Dirundeng Meulaboh,12,0,8,4,0,32
STAIN Majene,11,0,1,10,0,23
STAIN Sultan Abdurrahman Kepulauan Riau,11,0,2,9,0,24
IAIN Sorong,10,0,5,5,0,25

In [79]:
value_counts_df.to_excel('poin_per_prodi.xlsx')