In [1]:
import pandas as pd

In [2]:
df = pd.read_json('prodiuinmlg.json')

In [3]:
df.head()

,id_sms,kode_prodi,nm_lemb,stat_prodi,jenjang,akreditas,rasio_list
0,MjM0NDEwNTktRkM4QS00Nzc2LUI0OTctNDJFRjMyNDE5Nzg5,61406,Perbankan Syariah,Tutup,D3,None,"[{'semester': '20231', 'dosen': 0, 'mahasiswa'..."
1,MTlDMjAzMjItQjIzQy00NTEyLUEzQTEtNkE0OTM0NDhDNDYy,48901,Pendidikan Profesi Apoteker,Aktif,Profesi,Baik,"[{'semester': '20231', 'dosen': 9, 'mahasiswa'..."
2,QUQwMDEyMTUtNTdFRi00MkI3LUIzMTgtRDdEM0RFNzFDMTM0,86902,Pendidikan Profesi Guru,Aktif,Profesi,Baik,"[{'semester': '20231', 'dosen': 5, 'mahasiswa'..."
3,OUJCMkM0NEEtRDk1NC00QjIxLUI5RTctMzg5ODZCOEE2RjY4,11901,Profesi Dokter,Aktif,Profesi,Baik,"[{'semester': '20231', 'dosen': 12, 'mahasiswa..."
4,ODBEMjk2ODUtQkYzMy00MjMyLTg3NzgtRUMyNkI1NDJBNjgz,62201,Akuntansi,Aktif,S1,Unggul,"[{'semester': '20231', 'dosen': 31, 'mahasiswa..."